[submodule "renderer/vendor/glad"]
	path = renderer/vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "renderer/vendor/glfw"]
	path = renderer/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "renderer/vendor/stb"]
	path = renderer/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "renderer/vendor/glm"]
	path = renderer/vendor/glm
	url = https://github.com/g-truc/glm.git
